<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<style>
    

#symbol{
    padding-top: 50px;
    padding-left: 20.5%;
    font-size: 30px;
    color: rgb(100, 108, 126);
    margin-bottom: 4px;
}

.card_neutral {

    border-style: solid;
    border-width: 2px;
    border-color: rgb(140,149,176);
    width: auto;
    font-family: Raleway;
    font-size: 12px;
    border-radius: 5px;
    height: auto;
    margin: 5 auto;
}

.card_red {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(234,124,121);
    width: auto;
    font-family: Raleway;
    font-size: 12px;
    border-radius: 5px;
    height: auto;
    margin: 5 auto;

}

.card_green {

    border-style: solid;
    border-width: 2px;
    border-color: rgb(166,227,196);
    width: auto;
    font-family: Raleway;
    font-size: 12px;
    border-radius: 5px;
    height: auto;
    margin: 5 auto;
}



.box {
    width: 80%;
    background: white;
    text-align: left;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    height: 90%;
    overflow-y: scroll;
    margin-bottom: 50px;
    margin-left: 50px;
    font-family: Raleway;

}

.summary{
    background-color: blueite;
    font-family: Raleway;
    width: 60%;
    margin-left: 20%;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 14%;
    margin-top: 3px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    color: rgb(100, 108, 126);

}

.tbl{
    width:100%;
    margin:0 auto;
    height: 100%;
    align-self: center;

}

table, th, td {
  
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  
}

#volume{
    color:#6487ce;
    font-size: 50px;
}

#current-price{
    color:#a6e3c4;
    font-size: 50px;
}

#daily-change{
    color:#a6e3c4;
    font-size: 50px;

}

#daily-high{
    color:#58c5d9;
    font-size: 50px;

}

#daily-low{
    color:#de7673;
    font-size: 50px;

}

.cell_border{
    border-right: solid 1px rgb(100, 108, 126);
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#username {
  font-weight: bold;
  height: 10px;
  width: 200px;
  text-align:left;
  color: rgb(100, 108, 126)
  
}

img {
  border-radius: 50%;
  width:40px;
  padding-top: 2px;
  padding-left: 0px;

}


#date {
    text-align:right;
    width: 45%;
    color: rgb(100, 108, 126)

}

#message {
	color: rgb(100, 108, 126);
    text-align: left;
    padding-left: 3px;
}

#sent {
	color: rgb(100, 108, 126);
    padding-left: 3px;
}

</style>

{% extends 'layouts/base.html' %}

{% block title %}Onyx-Dashboard{% endblock %}
{% block meta_description %}Onyx stock dashboard{% endblock %}

{% block body %}
<body>
    <p id="symbol">{{stock_info[0]}}</p>
    <div class = "summary">
        <table class="tbl">
            <tr>
                    <td class = "cell_border" id="current-price">&#36;</td>
                    <td class = "cell_border" id="daily-change">&#8593;</td>
                    <td class = "cell_border"id="daily-high">&#8593;</td>
                    <td class = "cell_border"id="daily-low">&#8595;</td>
                    <td id="volume">&#8644;</td>
                    
            </tr>

            <tr>
                    <td class = "cell_border">{{stock_info[1]}}</td>
                    <td class = "cell_border">{{stock_info[2]}}</td>
                    <td class = "cell_border">{{stock_info[3]}}</td>
                    <td class = "cell_border">{{stock_info[4]}}</td>
                    <td>{{stock_info[5]}}</td>
            </tr>

            <tr>
                    <td class = "cell_border">Current Price</td>
                    <td class = "cell_border">Daily Change</td>
                    <td class = "cell_border">Daily High</td>
                    <td class = "cell_border">Daily Low</td>
                    <td>Todays Volume</td>
            </tr>
        </table>
    </div>


<div class="row">
    <div class="column">
            <p style="color: rgb(100, 108, 126);">Stock Twits</p>
        <div class='box'>
            {% for stockTwitsData in stockTwits_data %}

                {% if stockTwitsData.sentiment == 'Bullish' %}
                    <div class="card_green">
                {% elif stockTwitsData.sentiment == 'Bearish' %}
                    <div class="card_red">
                {% else %}
                    <div class="card_neutral">
                {% endif %}
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 10%"><img src= "{{ stockTwitsData.avatar }}" ></td>
                                <td id="username" style="width: 30%"><span style="margin-left: 0px;"><b>{{ stockTwitsData.username }}</b></span></td>
                                <td id="date">{{ stockTwitsData.timestamp }}</td>
                            </tr>
                            
                            <tr>
                                <td colspan="3" id="message"><br> {{ stockTwitsData.message }} <br><br></td>
                            </tr>
                            
                            <tr>
                                {% if stockTwitsData.sentiment == 'Bullish' %}
                                <td id="sent"><p style="color: rgb(166, 227, 196);">Bullish</p></td>
                                {% elif stockTwitsData.sentiment == 'Bearish' %}
                                <td id="sent"><p style="color: rgb(234, 124, 121);">Bearish</p></td>
                                {% else %}
                                <td id="sent"><p style="color: rgb(100, 108, 126);">---</p></td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                            
            {% endfor %}
            </div>
    </div>

    
    <div class="column">
            <p style="color: rgb(100, 108, 126);">Twitter</p>
            <div class='box'>
            {% for stockTwitsData in stockTwits_data %}

                {% if stockTwitsData.sentiment == 'Bullish' %}
                    <div class="card_green">
                {% elif stockTwitsData.sentiment == 'Bearish' %}
                    <div class="card_red">
                {% else %}
                    <div class="card_neutral">
                {% endif %}
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 10%"><img src= "{{ stockTwitsData.avatar }}" ></td>
                                <td id="username" style="width: 30%"><span style="margin-left: 0px;"><b>{{ stockTwitsData.username }}</b></span></td>
                                <td id="date">Sept 21, 2018 @ 1:33pm</td>
                            </tr>
                            
                            <tr>
                                <td colspan="3" id="message"><br> {{ stockTwitsData.message }} <br><br></td>
                            </tr>
                            
                            <tr>
                                {% if stockTwitsData.sentiment == 'Bullish' %}
                                <td id="sent"><p style="color: rgb(166, 227, 196);">Bullish</p></td>
                                {% elif stockTwitsData.sentiment == 'Bearish' %}
                                <td id="sent"><p style="color: rgb(234, 124, 121);">Bearish</p></td>
                                {% else %}
                                <td id="sent"><p style="color: rgb(100, 108, 126);">---</p></td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>       
                            
            {% endfor %}
            </div>
    </div>
    <div class="column">
            <p style="color: rgb(100, 108, 126);">News</p>

            <div class='box'>
                    {% for stockTwitsData in stockTwits_data %}
        
                        {% if stockTwitsData.sentiment == 'Bullish' %}
                            <div class="card_green">
                        {% elif stockTwitsData.sentiment == 'Bearish' %}
                            <div class="card_red">
                        {% else %}
                            <div class="card_neutral">
                        {% endif %}
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 10%"><img src= "{{ stockTwitsData.avatar }}" ></td>
                                        <td id="username" style="width: 30%"><span style="margin-left: 0px;"><b>{{ stockTwitsData.username }}</b></span></td>
                                        <td id="date">Sept 21, 2018 @ 1:33pm</td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="3" id="message"><br> {{ stockTwitsData.message }} <br><br></td>
                                    </tr>
                                    
                                    <tr>
                                        {% if stockTwitsData.sentiment == 'Bullish' %}
                                        <td id="sent"><p style="color: rgb(166, 227, 196);">Bullish</p></td>
                                        {% elif stockTwitsData.sentiment == 'Bearish' %}
                                        <td id="sent"><p style="color: rgb(234, 124, 121);">Bearish</p></td>
                                        {% else %}
                                        <td id="sent"><p style="color: rgb(100, 108, 126);">---</p></td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                                    
                    {% endfor %}
                    </div>
    </div>
    </div>
    

</body>

{% endblock %}